[*.cs]
comment_sense.visibility_level = protected
comment_sense.require_capitalization = true
comment_sense.require_ending_punctuation = true

# CSENSE002: Missing parameter documentation
dotnet_diagnostic.CSENSE002.severity = silent
